.footer {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;

  color: white;
  background-color: #003355;

  &_container {
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 12px;
    padding-block: 40px;
    border-bottom: 1px solid #ffcc33;

    display: flex;

    .title {
      font-size: 28px;
      font-weight: 600;
      text-transform: capitalize;
      margin-bottom: 8px;
    }

    .contact {
      flex: 1;

      a {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 20px;

        .logo {
          width: 72px;
          height: 72px;
        }
        span {
          color: white;
          font-size: 20px;
          font-weight: 500;
          text-transform: uppercase;
          line-height: 120%; /* 24px */
          letter-spacing: 1.6px;
        }
      }

      .address {
        font-size: 12px;
        width: 80%;
        display: flex;
        gap: 8px;
        margin-bottom: 20px;

        .icon {
          width: 80px;
        }
      }

      &_list {
        h3 {
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 8px;
        }

        a {
          font-size: 12px;
          color: white;

          .icon {
            width: 20px;
            height: 20px;
          }
        }
      }

      .socials {
        display: flex;
        justify-content: space-between;
        width: 30%;

        .icon {
          stroke: white;
        }
      }
    }

    .content {
      flex: 1;
      display: grid;
      gap: 8px;

      &_agenda {
        .list {
          display: flex;
          flex-direction: column;
          gap: 8px;
          width: 80%;
          list-style: none;

          .item {
            display: flex;
            background: rgba(255, 204, 51, 0.8);

            .left {
              width: 63px;
              height: 63px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              background-color: white;
              color: #003355;
              font-weight: 600;

              .day {
                font-size: 24px;
              }

              .month_year {
                font-size: 10px;
              }
            }

            .right {
              padding: 8px;
              display: flex;
              flex-direction: column;
              gap: 4px;

              div {
                background-color: white;
                color: #003355;
                width: fit-content;
                padding: 2px 18px;
                display: flex;
                border-radius: 100px 0px;

                time {
                  font-size: 10px;
                  font-weight: 600;
                }
              }

              a {
                color: white;
                font-size: 12px;
                font-weight: 700;
              }
            }
          }
        }
      }

      &_berita {
        .list {
          display: flex;
          flex-direction: column;
          gap: 8px;
          width: 80%;
          list-style: none;

          .item {
            display: flex;
            justify-content: space-between;
            background: rgba(255, 204, 51, 0.8);

            .left {
              margin-left: auto;
              padding: 8px 12px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: end;

              a {
                font-size: 12px;
                font-weight: bold;
                color: white;
              }

              div {
                background: rgba(255, 204, 51, 0.8);
                display: flex;
                padding: 2px 4px;
                background-color: white;
                color: #003355;

                time {
                  font-size: 10px;
                  font-weight: 500;
                }
              }
            }

            .right {
              background-color: white;
              padding: 8px;

              img {
                width: 48px;
                height: 48px;
                object-fit: cover;
              }
            }
          }
        }
      }
    }

    .maps {
      flex: 1;

      iframe {
        margin-top: 8px;
        width: 100%;
        height: 250px;
        border: none;
      }
    }
  }

  &_copyright {
    padding-block: 12px;
    color: #ffcc33;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
  }
}
