.header {
  top: 0;
  position: sticky;
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  background-color: white;
  z-index: 10;

  &_container,
  &_contact {
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 12px;
  }

  &_container {
    position: relative;
    padding-block: 24px;
    border-bottom: 2px solid #d9d9d9;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .search {
      width: 300px;
      padding: 10px;
      background-color: #003355;
      display: flex;
      align-items: center;
      gap: 12px;

      &_btn {
        width: 36px;
        height: 24px;
        border: none;
        background-color: #ffcc33;

        display: grid;
        place-items: center;
        cursor: pointer;

        .icon {
          width: 16px;
        }
      }

      #search {
        flex: 1;
      }

      .pagefind-ui {
        &__form {
          position: relative;
        }

        &__search-input {
          width: 100%;
          border: none;
          height: 24px;
          font-size: 14px;
        }

        &__search-clear {
          position: absolute;
          right: 0;
          background-color: transparent;
          border: none;
          font-size: 12px;
          height: 100%;
          font-weight: 500;
          color: gray;
          cursor: pointer;
        }

        &__suppressed,
        &__hidden {
          display: none;
        }

        &__drawer {
          border: 1px solid #d9d9d9;
          padding: 5px 10px;
          margin-top: 18px;
          position: absolute;
          max-height: 500px;
          overflow-y: scroll;
          width: 300px;
          left: -10px;
          background-color: white;
        }

        // &__results-area {
        // }

        &__message {
          color: #003355;
          font-size: 10px;
          font-weight: 500;
          margin-bottom: 16px;
        }

        &__results {
          list-style: none;
          padding: 0;
        }

        &__result {
          border-bottom: 1px solid #d9d9d9;
          padding-bottom: 8px;
          margin-bottom: 16px;

          &-tags {
            list-style: none;
            padding: 0;
          }

          &-tag {
            font-size: 10px;
            font-weight: 500;
          }

          &-inner {
            color: #222222;
            font-size: 12px;
          }

          &-title {
            font-weight: 700;
            margin-bottom: 4px;
          }

          &-link {
            color: #222222;
          }

          &-excerpt {
            color: grey;
            font-size: 10px;

            mark {
              background-color: #ffcc33;
              color: #003355;
              font-weight: 500;
            }
          }
        }

        &__button {
          border: none;
          background-color: #003355;
          color: white;
          width: 100%;
          font-size: 12px;
          font-weight: 500;
          height: 32px;
          cursor: pointer;
        }
      }
    }

    .left {
      display: flex;
      align-items: center;
      gap: 56px;

      .logo {
        width: 56px;
        height: 56px;
      }

      .menu {
        display: flex;
        gap: 32px;
        align-items: center;

        &_item {
          color: #003355;
          font-weight: 500;
          text-transform: uppercase;
        }

        .dropdown {
          &_button {
            background: none;
            border: none;

            display: flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;

            &-icon {
              width: 16px;
              height: 16px;
            }
          }

          &_menu {
            background-color: white;
            border: 1px solid lightgray;
            border-radius: 4px;

            width: 200px;
            padding: 12px;
            margin-top: 12px;
            position: absolute;

            &-container {
              display: grid;
              gap: 12px;
            }
          }
        }
      }
    }
  }

  &_contact {
    padding-block: 12px;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 24px;

    a {
      display: flex;
      align-items: center;
      gap: 8px;

      font-size: 12px;
      font-weight: 500;
      color: #003355;
    }

    &-icon {
      width: 20px;
      height: 20px;
    }
  }
}
