<footer class="footer">
  <div class="footer_container">
    <div class="contact">
      <a href="/">
        <img class="logo" src="/images/logo.png" alt="logo" />
        <span>smpit <br />nururrahman</span>
      </a>
      <p class="address">
        <i data-lucide="school-2" class="icon"></i>
        <span
          >Jl. Raya Sawangan No.11, Pancoran MAS, Kec. Pancoran Mas, Kota Depok,
          Jawa Barat 16436</span
        >
      </p>

      <div class="contact_list">
        <h3>Kontak Kami</h3>
        <a href="mailto:smpitnururrahman@gmail.com" target="_blank">
          <i data-lucide="mail" class="icon"></i>
          smpitnururrahman@gmail.com
        </a>

        <a
          href="https://api.whatsapp.com/send/?phone=6285718135149&text=Saya+ingin+bertanya+seputar+sekolah+ini..&type=phone_number&app_absent=0"
          target="_blank"
        >
          <i data-lucide="phone" class="icon"></i>
          +62 85718135149
        </a>
      </div>

      <div class="flex justify-between w-1/2 socials">
        <a href="#">
          <i data-lucide="facebook" class="icon"></i>
        </a>
        <a href="#">
          <i data-lucide="instagram" class="icon"></i>
        </a>
        <a href="#">
          <i data-lucide="youtube" class="icon"></i>
        </a>
      </div>
    </div>

    <div class="content">
      <h1 class="title">agenda</h1>
      <h1 class="title">berita</h1>
    </div>

    <div class="maps">
      <h1 class="title">maps</h1>
      <div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.980753344!2d106.80089357415089!3d-6.39648156256005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69e944864b2291%3A0x9812babecc20c05f!2sSMPIT-SMAIT%20Pesantren%20Nururrahman!5e0!3m2!1sen!2sid!4v1700971876857!5m2!1sen!2sid"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>

  <div class="footer_copyright">
    <span>&copy; IT Team 2023</span>
  </div>
</footer>
