<div class="menu" data-pagefind-ignore="all">
  <div class="dropdown">
    <button
      id="profilBtn"
      data-dropdown-toggle="profilMenu"
      class="dropdown_button menu_item"
    >
      profil
      <i data-lucide="chevron-down" class="dropdown_button-icon"></i>
    </button>
    <div id="profilMenu" class="hidden dropdown_menu">
      <div class="dropdown_menu-container">
        <a class="menu_item" href="/visi-misi">visi misi</a>
        <a class="menu_item" href="/sejarah-singkat">sejarah singkat</a>
        <a class="menu_item" href="/tujuan">tujuan</a>
        <a class="menu_item" href="/guru">guru</a>
        <a class="menu_item" href="/target-keluaran">target keluaran</a>
      </div>
    </div>
  </div>

  <a class="menu_item" href="/berita">berita</a>
  <a class="menu_item" href="/pkks">pkks</a>
  <a class="menu_item" href="/galeri">galeri</a>

  <div class="dropdown">
    <button
      id="lainnyaBtn"
      data-dropdown-toggle="lainnyaMenu"
      class="dropdown_button menu_item"
    >
      lainnya
      <i data-lucide="chevron-down" class="dropdown_button-icon"></i>
    </button>
    <div id="lainnyaMenu" class="hidden dropdown_menu">
      <div class="dropdown_menu-container">
        <a class="menu_item" href="/keunggulan">keunggulan</a>
        <a class="menu_item" href="/program-beasiswa">program beasiswa</a>
        <a class="menu_item" href="/sistem-pendidikan">sistem pendidikan</a>
        <a class="menu_item" href="/ekstrakulikuler">ekstrakulikuler</a>
        <a class="menu_item" href="/kegiatan-siswa">kegiatan siswa</a>
      </div>
    </div>
  </div>
</div>
